.full-calendar-wrapper {
  max-width: 800px;   /* ou une autre largeur souhaitée */
  margin: 0 auto;       /* centre le calendrier */
  padding: 20px;
}

.full-calendar-wrapper full-calendar {
  width: 100% !important;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

