<div class="container mt-4">
  <h3>Gestion des équipements</h3>

  <button class="btn btn-success mb-3" [routerLink]="['/equipment/add']">Ajouter un équipement</button>

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eq of equipments">
        <td>{{ eq.id }}</td>
        <td>{{ eq.nom }}</td>
        <td>
          <button class="btn btn-warning btn-sm" [routerLink]="['/equipment/edit', eq.id]">Modifier</button>
          <button class="btn btn-danger btn-sm ms-2" (click)="deleteEquipment(eq.id!)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
