/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .fc .btn-primary {
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
  color: #fff !important;
}

.fc .btn-primary:hover {
  background-color: #006e7f !important;
  border-color: #006e7f !important;
} */
